<div class="jumbotron text-center">
    <p class="display-4">Richmond NBC12 News Scraper</p>
</div>
<div class="container-fluid">

      <div class="row">
            <div class="col-sm-2" id="o"> </div>
            <div class="col-sm-8">
                <h3>{{Title}}</h3>

                <div class="box">
                    
                </div>
            </div>
            <div class="col-sm-2" id="p"> </div>
        </div>
</div>