<div class="jumbotron text-center d-flex justify-content-around">
    <p>Richmond NBC12 News Scraper</p> 
    <p>big daddy</p>
</div>
<section class="container-fluid">
    <div class="content">
        <div class="row">
            <div class="col-sm-2" id="o"> </div>
             <div class="col-sm-8">
                <h3 class="display-4">Recent Articles</h3>     
            </div>
             <div class="col-sm-2" id="o"> </div>
        </div>
        <div class="row">
            {{#each Article}}
                <div class="box" data-id={{this.id}}>
                    <div id="head">
                        <p id="art-tit">{{this.title}}</p>
                    </div>
                    <div class="d-flex justify-content-end" >
                         <a id="lin" href={{this.link}}>LINK</a>
                    </div>
                </div>
            {{/each}}

        </div>
    </div>
</section>