body{
    background-color: whitesmoke;
    height:100%;
}
html{
    height:100vh;
}
.jumbotron{
   padding: 2em 1em;
}
.jumbotron>*{
    padding: 10px;
    border: 2px dashed white;
   
}
.content {
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 25px;
    
}
#o{
    padding: 5px 0;
}
.box{
    border: .5px solid rgba(0,0,0,.8);
    border-radius: 4px;
    width: 80vw;
    margin: 0 auto;

}
.box:hover{
    transform: scale(1.08);
    transition: 1s all;
}